@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Oswald:wght@200..700&display=swap');

.logotipo{
    width: 120px;
    position: relative;
    top: 20px;
    left: 20px;
}

.cabecalho{
    background: linear-gradient(#97f813, #cafc85,#ffffff);
    color: white;
    text-align: justify;
    font-family: "Dela Gothic One", sans-serif;
}

.cabecalho-lista{
    display: flex;
    position: relative;
    left: 300px;
}

.cabecalho-lista-item{
    font-size: 30px;
    margin-left: 50px;
    color: #000000;
    list-style-type: none;
    font-weight: bolder;
}

.nome-site{
    margin: 30px;
    margin-top: 20px;
}

.logo-e-nome{
    display: flex;
    vertical-align: center;
}